{% extends 'base.html' %}

{% block article %}


<h4>{{ article.article_author }}: {{ article.article_title }}</h4>
    <p>{{ article.article_body }}</p>
    <h6>{{ article.article_date }}</h6>
    {% if username %}
    <p>
        <button art_id="{{ article.id }}" vote="+1" class="like"> + {{ article.article_likes }}</button>
        <button art_id="{{ article.id }}" vote = "-1" class="dislike"> - {{ article.article_dislikes }}</button>
    </p>
    {% else %}
        <p>+ {{ article.article_likes }} - {{ article.article_dislikes }}</p>
    {% endif %}
<hr>
<p>Комментарии</p>
{%  for comment in comments %}
    <p>{{ comment.comment_author }}: {{ comment.comment_body }}</p>
    <p>{{ comment.comment_date }}</p>
{% endfor %}
{% if username %}
    <form action="/articles/{{ article.id }}/add_comment/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Добавить комментарий">
    </form>
{% endif %}
{% endblock %}