{% extends 'base.html' %}

{% block article %}
{%  for article in articles %}
    <h4><a href="/articles/{{ article.id }}" > {{ article.article_title }}</a></h4>
    <p>{{ article.article_body }}</p>
    <p>
    <h6>Опубликовано {{ article.article_date }} пользователем {{ article.article_author }}</h6>
    {% if username %}
    <p><button id='{{ article.id }}' class="like">
    + {{ article.article_likes }}</button>
    <button id='{{ article.id }}' class="dislike">
    - {{ article.article_dislikes }}</button>
    </p>
    {% else %}
        <p>+ {{ article.article_likes }}
         - {{ article.article_dislikes }} </p>
    </p>
    {% endif %}
    </p>
    <hr>
{% endfor %}
{% endblock %}