{% extends 'base.html' %}

{% block article %}


<h4>{{ article.article_author }}: {{ article.article_title }}</h4>
    <article>{{ article.article_body }}</article>
    <h6>{{ article.article_date }}</h6>
    {% if username %}
    <div>
        <button art_id="{{ article.id }}" vote="+" class="like"> + </button>
        <button art_id="{{ article.id }}" vote="-" class="dislike"> - </button>
    </div>
    {% else %}
        <p>+ {{ article.article_likes }} - {{ article.article_dislikes }}</p>
    {% endif %}
<hr>
<p>Комментарии</p>
{%  for comment in comments %}
    <p>{{ comment.comment_author }}: {{ comment.comment_body }}</p>
    <p>{{ comment.comment_date }}</p>
{% endfor %}
{% if username %}
    <form action="/articles/{{ article.id }}/add_comment/" method="post">
    {% csrf_token %}
    {{ form }}

    <p><input type="submit" class="button" value="Добавить комментарий"></p>
    </form>
{% endif %}
{% endblock %}